{{!-- {{#each this}} --}}
<div class="col s5 card movies horizontal">
  <div class="card-image">
  <img src="http://lorempixel.com/100/190/nature/10">
    <img src="{{poster}}" width="170" height="250">
  </div>
    <div class="card-content">
      <ul>
        <li>Title:{{Title}}</li>
        <li>Release Date:{{Released}}</li>
        <li>Starring: {{Actors}}</li>
        <li>rating: {{myRating}}</li>
      </ul>
    </div>
  <div class="row col card-action">
    <a  class="add-to-watch" href="#">Add to watch</a>
    <a class="add-to-seen-list" href="#">Watched</a>
    <button type="submit" value="Delete">Delete</button>
  </div>
</div>

{{!--       <img class="poster"> --}}


<!--       <ul>
        {{#each tags}} -->
          <!-- <li>{{inc @index}} {{category}}:{{name}}</li>
        {{/each}} -->
<!--       </ul> -->

{{!-- {{/each}} --}}
